<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ppf.springboot.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.ppf.springboot.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="DATE"/>
        <result column="grade" property="grade" jdbcType="FLOAT"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select * from user
    </select>

    <select id="findUserByNameAndAge" parameterType="com.ppf.springboot.entity.User" resultMap="BaseResultMap">
        select * from user where name=#{user.name} and age=#{user.age}
    </select>

    <select id="findUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from user where name=#{name}
    </select>

    <select id="queryByParams"  resultMap="BaseResultMap">
        select * from user
        <where>
            <if test="name !=null and name!=''">
               and  name like '%${name}%'
            </if>
            <if test="age !=null and age!=''">
               and age like '%${age}%'
            </if>
            <if test="grade !=null and grade!=''">
                and grade like '%${grade}%'
            </if>
            <if test="birthday !=null and birthday!=''">
                and birthday like '%${birthday}%'
            </if>
        </where>


    </select>

    <insert id="addUser" parameterType="com.ppf.springboot.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name,age,grade,birthday) values (#{name},#{age},#{grade},#{birthday})
    </insert>
</mapper>